#activistHead{
	color: black; 
}
.bodyText{
	color: black;
}
.blm{
	width:400px;
}
.pride{
	width:400px;
}
.mfol{
	width:400px;
}
.metoo{
	width:400px;
}
.contact{
	width:400px;
}
.gbw{
	width:400px;
}
